@import "../../../styles.scss";

.profile-info {
  padding-left: 100px;
  width: 587px;
  margin-bottom: 28px;
}

.profile-subtitle {
  font-size: 16px;
  line-height: 20px;
  color: $primary-font-color;
}
.title-container {
  position: relative;
  .profile-title {
    display: inline-block;
    font-size: 22px;
    line-height: 28px;
    color: $primary-font-color;
    margin-bottom: 30px;
  }

  .grade {
    position: absolute;
    right: 0;
    display: inline-block;
    padding: 6px 13px;
    text-align: center;
    .final-grade {
      color: rgba(255, 190, 11, 1);
      font-size: 14px;
      font-weight: 900;
      letter-spacing: 0.28px;
      line-height: 13px;
    }
    .grade-text {
      font-size: 10px;
      letter-spacing: 0.2;
      line-height: 13px;
      color: rgba(255, 190, 11, 1);
      font-weight: 900;
    }
  }
}
.profile-text {
  font-size: 14px;
  line-height: 22px;
  color: $secondary-font-color;
  margin-bottom: 40px;
}

#services-area {
  margin-bottom: 40px;
  .services-title {
    margin-bottom: 9px;
  }
}
.contact-title {
  margin-bottom: 20px;
}
.contact-container {
  margin-bottom: 40px;
  div {
    font-size: 14x;
    line-height: 22px;
    color: $color-light-grey;
    margin-bottom: 20px;
    span {
      padding-left: 11px;
    }
  }
  div:last-child {
    margin-bottom: 0;
  }
}

.reviews-container {
  .review-title {
    margin-bottom: 16px;
  }
  .write-review-action {
    font-size: 12px;
    letter-spacing: 0.24px;
    line-height: 15px;
    text-decoration: underline;
    color: $primary-header-color-lighter;
    cursor: pointer;
  }
  .write-review-container {
    width: 100%;
    #write-review {
      width: 100%;
      height: 211px;
    }
    .submit-review {
      color: $font-color-grey;
      padding: 8px 32px;
      margin-left: 20px;
      float: right;
    }
    .rate-star {
      display: inline-block;
      margin-left: 10px;
    }
    .rate-star:first-child {
      margin-left: 0;
    }
    .click-star {
      color: $primary-font-color;
      font-size: 10px;
      line-height: 13px;
    }
  }
}
.client-review {
  box-shadow: 0px 8px 15px rgba(24, 43, 73, 0.08);
  width: 100%;
  min-height: 211px;
  padding: 30px 40px 30px 20px;
  .customer-name {
    display: inline-block;
    font-weight: 900;
    font-size: 14px;
    color: $primary-font-color;
    line-height: 18px;
  }
  .given-stars {
    float: right;
    img {
      margin-left: 10px;
    }
    img:first-child {
      margin-left: 0;
    }
  }
  .customer-review-date {
    color: $color-light-grey;
    font-size: 10px;
    line-height: 13px;
    margin-top: 10px;
    margin-bottom: 37px;
  }
  .customer-review-text {
    font-size: 14px;
    line-height: 22px;
    color: $secondary-font-color;
  }
}
#load-more-reviews {
  color: $primary-header-color-lighter;
  font-size: 12px;
  letter-spacing: 0.24px;
  line-height: 15px;
  text-decoration: underline;
}
