<div class="title-container">
  <h2 class="profile-title">{{ pageData.title.rendered }}</h2>
  <div class="grade">
    <app-reviews-result
      [result]="pageData.calculate_ratings"
    ></app-reviews-result>
  </div>
</div>

<p class="profile-text" [innerHTML]="pageData.content.rendered"></p>
<div id="services-area">
  <h5 class="services-title profile-subtitle">Services</h5>
  <app-display-services [pageID]="pageID"></app-display-services>
</div>
<h5 class="contact-title profile-subtitle">Contact information</h5>
<div class="contact-container">
  <div class="phone-contact">
    <img
      src="wp-content/themes/nodice/dist/assets/images/telephone.svg"
      alt="Phone contact"
    />
    <span class="profile-phone-title">{{
      contactData.phone ? contactData.phone : ""
    }}</span>
  </div>
  <div class="contact-email">
    <img
      src="wp-content/themes/nodice/dist/assets/images/email.svg"
      alt="Email contact"
    />
    <span class="profile-email-title">{{
      contactData.email ? contactData.email : ""
    }}</span>
  </div>
  <div class="website">
    <img
      src="wp-content/themes/nodice/dist/assets/images/website.svg"
      alt="Website contact"
    /><span class="profile-website">{{
      contactData.website ? contactData.website : ""
    }}</span>
  </div>
</div>
