@import "../../../../../styles.scss";

ul li.nav-item {
    font-size: 12px;
    letter-spacing: 0.36;
    line-height: 15px;
}
.main-login-button {
    padding: 8px 32px 7px 33px !important;
    margin: 0 20px;
    color: $font-color-grey !important;
}

.nodice-nav {
    height: 90px;
    // padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 0;
    padding-top: 0;
    a.navbar-brand {
        letter-spacing: 0.8;
        line-height: 25px;
        font-size: 20px;
    }
    ul li.nav-item {
        font-size: 12px;
        letter-spacing: 0.36;
        line-height: 15px;
    }
    .main-login-button {
        padding: 8px 33px 7px 32px;
        margin: 0 20px;
    }
    .nav-link {
        cursor:pointer;
    }
}

.nodice-search-container {
    position: relative;
    max-width: 700px;
    width: 700px;
    height: 40px;
    margin-left: 70px;
    background: $font-color-grey;
    border:0;
    border-radius: 50px;
    // .input-group {
    //     justify-content: space-between;
    //     height: 40px;
    // }

    .form-control, .input-group-text {
        background: transparent;
        border: none;
    }
    .input-group-prepend button {
        background: transparent;
        border: none;
    }

    .select-services {
        // padding-left: 50px;
        position: relative;
        transform: translate3d(0,-6px,0);
        .search-icon {
            position: absolute;
            top: 50%;
            left: 20px;
            margin-top: -7.5px;
            // display:inline-block;
            width: 14px;
            height: 14px;
        }
        span {
            display:inline-block;
            margin-left: 40px;
            // position: absolute;
            // left: 40px;
        }
        ::ng-deep .mat-focused {
            margin-top: 40px;
        }
        ::ng-deep .mat-form-field-infix {
            height: 40px;
            line-height: 40px;
            border: none !important;
            border-top: 0 !important;
            padding: 0;
            padding-left: 20px;
            // input {
            //     // height: auto;
            //     // line-height: 40px;
            //     // transform:translate3d(0,-4px,0);
            // }
            label {
                display: block;
                position: absolute;
                color: $color-light-grey;
                // position: absolute;
                // top: 20px;
                font-size: 14px;
            }
            ::ng-deep .mat-input-element {
                font-size: 14px;
                margin-top: 5px;
            }
        }
        ::ng-deep .mat-form-field-underline {
            display: none;
        }
        
    }
    .select-categories-container {
        position: absolute;
        right: 244px;
        display:inline-block;
        width:90px;
        overflow:hidden;
    }
    .select-ratings-container{
        position: absolute;
        right: 120.5px;
        display:inline-block;
        width:80px;
        overflow:hidden;
    }
    .nodice-select-ratings, .nodice-select-categories {
        display: block;
        padding: 2px 7px 2px 2px; 
        color: $primary-header-color-lighter;
        background-color: transparent;
        height: 40px;
        font-size: 12px;
        letter-spacing: 0.36px;
        line-height: 15px;
        border: none; 
        box-shadow: none;
        background: url('./../../../../../assets/images/arrow-select-box.svg') right center no-repeat;
        appearance: none; 
        -webkit-appearance: none;
        -moz-appearance: none; 
    }
    .nodice-select-categories {
        width: 77px;
    }
    .nodice-select-ratings {
        width: 58px;
    }
    .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $color-light-grey;
        opacity: 1; /* Firefox */
    }
    .form-control::-ms-input-placeholder {
        color: $color-light-grey;
    }
    .search-button {
        position: absolute;
        right: 20.22px;
        // padding: 7.83px 41.17px 7.17px 41.83px;
        // text-align: left;
        margin-top: 5px;
        margin-left: 20.22px;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.36px;
        color: $font-color-grey;
        width: 100px;
        height: 30px;
    }
    
}
.testMe, .cdk-overlay-pane {
    width: 400px;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    #sidebar {
        width: 319px;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        z-index: 999;
        background: $primary-background-color;
        color: $primary-font-color;
        transition: all 0.3s;
        box-shadow: -3px 0px 20px #182B4914;
    }

    .close-sidebar {
        text-align: right;
        font-size: 21px;
        padding-right: 30px;
        padding-top: 30px;
        color: $primary-font-color;
        margin-bottom: 83px;
        cursor: pointer;
    }
    .nodice-search-list {
        padding-left: 75px;
        li {
            margin-bottom: 20px;
        }
        li a {
            text-transform: uppercase;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.42px;
            color: $primary-font-color;

        }
    }
    .login-signup-actions {
        position:absolute;
        bottom: 0;
        // text-align: center;
        margin-bottom: 41px;
        padding-left: 70px;
    }
    .login, .signup, .logout {
        padding: 8px 72.62px 7px 72.38px;
        font-size: 12px;
        letter-spacing: 0.36px;
        line-height: 15px;
       
        color: $font-color-purple;
        border: 2px solid $font-color-purple;
    }
    .login {
        margin-bottom: 15px;
        background: white;
    }
    .signup {
        background: white;
    }
    .logout {
        background: $font-color-purple;
        color: white;
    }
}
