<nav
  class="nodice-nav navbar navbar-expand-lg navbar-light nav-bckg {{
    fontColor
  }}"
>
  <a class="navbar-brand" routerLink="/">nodice</a>

  <!-- search -->
  <form (ngSubmit)="searchNodice(search)" #search="ngForm">
    <div class="nodice-search-container">
      <div>
        <mat-form-field class="select-services">
          <mat-label>
            <img
              class="search-icon"
              src="wp-content/themes/nodice/dist/assets/images/search.svg"
              alt="search icon"
            />
            <span>Search services..</span>
          </mat-label>
          <input
            type="text"
            name="select-services"
            aria-label="Number"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete" panelWidth="700px">
            <mat-option
              class="testMe"
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div class="select-categories-container">
          <select
            name="select-categories"
            class="nodice-select-categories custom-select blue-font"
            [ngModel]="stateSelect"
          >
            <option disabled [ngValue]="null">Categories</option>
            <option
              *ngFor="let category of allCategories"
              value="{{ category.id }}"
              >{{ category.name }}</option
            >
          </select>
        </div>
        <div class="select-ratings-container">
          <select
            name="search-ratings"
            class="nodice-select-ratings custom-select"
            [ngModel]="stateSelect"
          >
            <!-- <select name="state" [ngModel]="stateRatings"> -->
            <option disabled [ngValue]="null">Ratings</option>
            <option value="19">Five stars</option>
            <option value="4">Four stars</option>
            <option value="16">Three stars</option>
            <option value="18">Two stars</option>
            <option value="17">One star</option>
            <option value="15">No stars</option>
          </select>
        </div>
        <button type="submit" class="nodice-button search-button">
          Search
        </button>
      </div>
    </div>
  </form>

  <!-- end of search -->
  <div id="navbarNavDropdown" class="navbar-collapse collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
      <div *ngIf="isLoggedInLocalStorage == 'true'">
        <li class="nav-item">
          <a
            class="nav-link nodice-button main-login-button"
            (click)="onLogout()"
            >Log out</a
          >
        </li>
      </div>
      <ng-template [ngIf]="isLoggedInLocalStorage == 'false'">
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link nodice-button main-login-button"
            routerLink="/login"
            >Log in</a
          >
        </li>
      </ng-template>
      <li class="nodice-hamburger">
        <a class="nav-link"
          ><i
            id="sidebarCollapse"
            class="fas fa-bars"
            (click)="showSidebar()"
          ></i
        ></a>
      </li>
    </ul>
  </div>
</nav>

<!-- Sidebar options-->
<app-sidebar
  [showSidebar]="displaySidebarStyle"
  [userID]="userID"
  [userType]="userType"
  (hideSidebar)="onHideSidebar($event)"
></app-sidebar>
