<app-header-home></app-header-home>
<div class="login-page">
  <div class="blue-bckg"></div>
  <div class="login-container top-container">
    <form (ngSubmit)="loginUser(loginForm)" #loginForm="ngForm">
      <div class="login-body">
        <h5 class="login-title">Welcome back! Log in to your NoDice account</h5>
        <div class="form-container">
          <div class="form-group">
            <label for="email-address">Email address</label>
            <input
              type="email"
              id="email-address"
              class="form-control"
              name="email-address"
              ngModel
            />
            <span *ngIf="!isEmailValidated" class="error-message">
              {{ errorMessage }}
            </span>
          </div>
          <div class="form-group">
            <label for="business-password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              ngModel
            />
            <span *ngIf="!isPasswordValidated" class="error-message">
              {{ errorMessage }}</span
            >
          </div>
        </div>
        <div class="login-client-actions login-actions">
          <button
            type="submit"
            class="btn btn-primary nodice-button login-button"
          >
            Sign up
          </button>
          <a routerLink="/signup" class="login"
            >Don't have an account? Sign up.</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
