@import "../../../styles.scss";

.login-page {
    margin-top: -90px;
    .login-container{
        padding-left: 66px;
        box-shadow: 0px 20px 60px rgba(24, 43, 73, 0.08);
        .login-title{
            font-size: 22px;
            color: $primary-font-color;
            line-height: 28px;
            font-weight: 900;
            padding-top: 181px;
            padding-bottom: 60px;
        }
        .form-group { 
            display:inline-block;
            position: relative;
            label {
                font-size: 12px;
                font-weight: 900;
                color: $primary-header-color-lighter;
                line-height: 22px;
            }
            input {
                width: 240px;
                background: $font-color-grey;
                border:1px solid $font-color-grey;
                margin-right: 40px;
            }
        }
        .login-client-actions {
            padding-bottom: 70px;
            .login-button {
                padding: 8px 51.62px 7px 43.38px;
                margin-right: 27px;
            }
            .login {
                padding-left: 27px;
                color: $primary-header-color-lighter;
                letter-spacing: 0.36px;
                font-weight: 900;
            }
        }
        .login-client-actions.login-actions {
            padding-top: 60px;
        }
        .error-message {
            position: absolute;
            bottom: -25px;
            font-size: 12px;
            color: red;
        }
    }
}
