@import "../../styles.scss";

.homepage {
    position: absolute;
    top: 0;
    width: 100%;
    .search-and-title {
        height: inherit;
    }
    .circle-logo-bottom-container {
        position:absolute;
        left: 100px;
        width: 200px;
        height: 150px;
        overflow: hidden;
        .circle-logo-bottom {
            width: 200px;
            height: 200px;
            border: 10px solid yellow;
            border-radius: 50%;
        }
    }

    .front-message {
        margin: 0;
        color: white;
        .main-top-container {
            width: 981px;
            margin: 0 auto;
        }
        .front-message-container {
            width: 548px;
            padding-top: 157px;
            .front-main-title {
                margin-bottom: 10px;
                overflow: visible;
                
            }
            .front-main-text {
                font-size: 18px;
                letter-spacing: 0.68px;
           
            }
            .front-button {
                margin-top: 28px;
                padding: 8px 17px 7px 18px;
            }
            // h2 {
            //     font-size: 40px;
            //     letter-spacing: 2.52px;
            //     line-height: 51px;
            //     text-align: left;
            //     font-weight: 900;
            // }
        }
    }


    
}
