<app-header-home></app-header-home>
<div class="one-screen homepage">
  <app-homepage-front-message></app-homepage-front-message>
  <app-homepage-how-it-works></app-homepage-how-it-works>
  <app-homepage-top-profiles [profiles]="profiles"> </app-homepage-top-profiles>
  <app-homepage-founder-section></app-homepage-founder-section>
  <app-footer></app-footer>
</div>
