@import "./../../../styles.scss";

.top-pick-profiles {
  width: 981px;
  height: 354px;
  margin: 0 auto 76px;

  color: $primary-font-color;
  h2 {
    font-size: 22px;
    line-height: 28px;
    color: $primary-font-color;
    margin-bottom: 40px;
  }
  .container {
    padding: 0;
  }

  .carousel-inner {
    height: 235px;
  }

  .carousel-item.row.no-gutters .nodice-profile {
    box-shadow: 0px 8px 15px rgba(24, 43, 73, 0.08);
    width: 210px;
    // margin-right: 47px;
    padding-left: 0;
    padding-right: 0;
    img {
      width: 100%;
      height: 130px;
    }
    .child-items {
      margin-right: 47px;
    }
    .child-items:last-child {
      margin-right: 0;
    }
  }
  // .carousel-item.row.no-gutters .nodice-profile:last-child {
  //     // margin-right: 0;
  // }
  .profile-title {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    a {
      padding-left: 10px;
      font-size: 16px;
      color: $primary-font-color;
      line-height: 20px;
    }
  }
  .review-section {
    background: rgba(255, 190, 11, 0.2);
    border: 0;
    border-radius: 5px;
    padding: 6px 13px;
    color: #ffbe0b;
    width: 140px;
    height: 30px;
    margin-left: 13px;
    margin-bottom: 10px;
    line-height: 18px;
    .grade-review {
      font-size: 14px;
      font-weight: 900;
      letter-spacing: 0.28px;
      line-height: 13px;
    }
    .text-review {
      font-size: 10px;
      letter-spacing: 0.2px;
      line-height: 13px;
    }
  }

  .nav-circles {
    margin: 60px 0 76px;
    height: 16px;

    .carousel-dot,
    .carousel-dot-middle {
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 0;
      border-radius: 50%;
      background: rgba(20, 88, 234, 0.2);
    }
    .carousel-dot-middle {
      margin-right: 3px;
      margin-left: 4px;
    }
    .carousel-indicators a.active .carousel-dot {
      background: $primary-header-color-lighter;
    }
  }
}

.profile-img-top {
  object-fit: cover;
}
