<div class="top-pick-profiles">
  <h2>Top pick profiles</h2>

  <div class="container text-center my-3">
    <div id="nodiceCarousel" class="carousel slide w-100" data-ride="carousel">
      <div class="carousel-inner w-100" role="listbox">
        <div class="carousel-item row no-gutters active">
          <div
            class="carousel-item-container"
            *ngFor="let profile of profiles; let i = index"
          >
            <div
              *ngIf="i == 0 || i == 1 || i == 2 || i == 3"
              class="col-3 float-left nodice-profile"
              [ngStyle]="{ 'margin-right': i == 3 ? '0' : '47px' }"
            >
              <img
                class="profile-img-top img-fluid"
                src="{{ profile.profile_image }}"
                alt="Card image cap"
              />
              <div class="profile-body">
                <h5 class="profile-title">
                  <a
                    routerLink="/profile/{{ profile.slug }}"
                    title="{{ profile.title.rendered }}"
                  >
                    {{ profile.title.rendered }}
                  </a>
                </h5>
                <app-reviews-result
                  [result]="profile.calculate_ratings"
                ></app-reviews-result>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item row no-gutters">
          <div
            class="carousel-item-container"
            *ngFor="let profile of profiles; let i = index"
          >
            <div
              *ngIf="i == 3 || i == 4 || i == 5 || i == 6"
              class="col-3 float-left nodice-profile"
              [ngStyle]="{ 'margin-right': i == 6 ? '0' : '47px' }"
            >
              <img
                class="profile-img-top img-fluid"
                src="{{ profile.profile_image }}"
                alt="Card image cap"
              />
              <div class="profile-body">
                <h5 class="profile-title">
                  <a
                    routerLink="/profile/{{ profile.slug }}"
                    title="{{ profile.title.rendered }}"
                  >
                    {{ profile.title.rendered }}
                  </a>
                </h5>
                <div class="review-section">
                  <span class="grade-review">{{
                    profile.calculate_ratings.result
                  }}</span>
                  <span class="text-review">
                    out of {{ profile.calculate_ratings.total }} review</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item row no-gutters">
          <div
            class="carousel-item-container"
            *ngFor="let profile of profiles; let i = index"
          >
            <div
              *ngIf="i == 7 || i == 8 || i == 9 || i == 10"
              class="col-3 float-left nodice-profile"
              [ngStyle]="{ 'margin-right': i == 10 ? '0' : '47px' }"
            >
              <img
                class="profile-img-top img-fluid"
                src="{{ profile.profile_image }}"
                alt="Card image cap"
              />
              <div class="profile-body">
                <h5 class="profile-title">
                  <a
                    routerLink="/profile/{{ profile.slug }}"
                    title="{{ profile.title.rendered }}"
                  >
                    {{ profile.title.rendered }}
                  </a>
                </h5>
                <div class="review-section">
                  <span class="grade-review">{{
                    profile.calculate_ratings.result
                  }}</span>
                  <span class="text-review">
                    out of {{ profile.calculate_ratings.total }} review</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-circles">
        <div class="carousel-indicators">
          <a
            class="active"
            data-target="#nodiceCarousel"
            href="#nodiceCarousel"
            role="button"
            data-slide-to="0"
          >
            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                 <span class="sr-only">Next</span> -->
            <span class="carousel-dot"></span>
          </a>
          <a
            class=""
            data-target="#nodiceCarousel"
            href="#nodiceCarousel"
            role="button"
            data-slide-to="1"
          >
            <span class="carousel-dot carousel-dot-middle"></span>
          </a>
          <a
            class=""
            data-target="#nodiceCarousel"
            href="#nodiceCarousel"
            role="button"
            data-slide-to="2"
          >
            <span class="carousel-dot"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
