<div class="dashboard-navigation">
  <div class="account">
    <h4>Account</h4>
    <ul>
      <li>
        <a
          routerLink="/nodice-dashboard/{{ userIDRoute }}/general"
          title="Plan"
          class="{{ isGeneralActive }}"
          >General</a
        >
      </li>
      <li>
        <a
          routerLink="/nodice-dashboard/{{ userIDRoute }}/reviews"
          title="Billing information"
          class="{{ isReviewsActive }}"
          >Reviews</a
        >
      </li>
    </ul>
  </div>
</div>
