@import "../../../../styles.scss";

.dashboard-client-plan {
    margin-top: -56px;
    .margin-remove {
        margin-left: 0;
        margin-right: 0;
    }
    .dashboard-main {
        .margin-remove {
            margin-left: 0;
            margin-right: 0;
        }
        
        .plan-box-container {
            margin-bottom: 41px;
            .plan-box {
                position: relative;
                width: 220px;
                height: 347px;
                box-shadow: 0px 0px 20px #0000001A;
                display: inline-block;
                margin-right: 20px;
                text-align: center;
                cursor: pointer;
                .plan-type {
                    margin-top: 72px;
                    text-transform: uppercase;
                    color: $primary-font-color;
                    font-size: 16px;
                    line-height: 20px;
                }
                .plan-price {
                    font-size: 44px;
                    line-height: 56px;
                    color: $primary-header-color-lighter;
                    margin-top: 14.81px;
                    margin-bottom: 5.62px;
                }
                .plan-period {
                    color: #C0CCDA;
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing:0;
                    margin-bottom: 42.39px;
                }
                .plan-description {
                    display:inline-block;
                    color: $secondary-font-color;
                    width: 183px;
                    font-size: 14px;
                    line-height: 22px;
                }
                .current-plan.active{
                   
                    color: $primary-header-color-lighter;
                    font-weight: 900;
                    background: rgba(20, 88, 234, 0.1);
                }
                .current-plan {
                    display:block;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 40px;
                    font-size: 14px;
                    line-height: 40px;
                    text-transform: uppercase;
                    background: $primary-header-color-lighter;
                    color: $font-color-grey;
                }
            }
            .plan-box:last-child {
                padding-right: 0;
            }
        }
        .explanation {
            width: 940px;
            height: 49px;
            color: $secondary-font-color;
            font-size: 14px;
            line-height: 22px;
            a {
                margin-top: 20px;
                color: $primary-header-color-lighter;
                letter-spacing: 0.36px;
                // text-decoration: underline;
                border-bottom: 1px solid;
                padding-bottom: 3px;
            }
            a:hover {
                text-decoration: none;
            }
        }
       
    }
}
