<div
  *ngIf="authService.isLoggedIn && !blockService.notYourPage"
  class="dashboard-client-plan"
>
  <div class="row margin-remove">
    <div class="col-lg-10 dashboard-main">
      <h2 class="dashboard-title">Your subscription</h2>
      <div class="plan-box-container">
        <div class="free plan-box" (click)="onPlanClick(free)" #free>
          <h6 class="plan-type">Free</h6>
          <span class="plan-price">$0</span>
          <div class="plan-period">Per month</div>
          <span class="plan-description"
            >Up to 1000 views. 10 free images in gallery.</span
          >
          <span
            [ngClass]="{
              'current-plan': true,
              active: activePlan == 'free' ? true : false
            }"
            >{{ activePlan == "free" ? "Current" : "Upgrade" }}</span
          >
        </div>
        <div class="popular plan-box" (click)="onPlanClick(popular)" #popular>
          <h6 class="plan-type">Popular</h6>
          <span class="plan-price">$11</span>
          <div class="plan-period">Per month</div>
          <span class="plan-description"
            >Up to 10k views. Up to 15 images in gallery.</span
          >
          <span
            [ngClass]="{
              'current-plan': true,
              active: activePlan == 'popular' ? true : false
            }"
            >{{ activePlan == "popular" ? "Current" : "Upgrade" }}</span
          >
        </div>
        <div
          class="social-butterfly plan-box"
          (click)="onPlanClick(socialButterfly)"
          #socialButterfly
        >
          <h6 class="plan-type">Social butterfly</h6>
          <span class="plan-price">$31</span>
          <div class="plan-period">Per month</div>
          <span class="plan-description"
            >Up to 20k views. Up to 30 images in gallery.</span
          >
          <span
            [ngClass]="{
              'current-plan': true,
              active: activePlan == 'social-butterfly' ? true : false
            }"
            >{{
              activePlan == "social-butterfly" ? "Current" : "Upgrade"
            }}</span
          >
        </div>
        <div
          class="influencer plan-box"
          (click)="onPlanClick(influencer)"
          #influencer
        >
          <h6 class="plan-type">Influencer</h6>
          <span class="plan-price">$51</span>
          <div class="plan-period">Per month</div>
          <span class="plan-description"
            >Up to 100k views. Unlimited images in gallery.</span
          >
          <span
            [ngClass]="{
              'current-plan': true,
              active: activePlan == 'influencer' ? true : false
            }"
            >{{ activePlan == "influencer" ? "Current" : "Upgrade" }}</span
          >
        </div>
      </div>
      <div class="explanation">
        <p>
          Here you can see your subscription status. You are free to change your
          plan (upgrade or downgrade) at any time. Chosen plan will become
          active at the end of the billing cycle (payments occur on a monthly
          basis).
        </p>
        <a routerLink="" title="Delete my account"
          >I don’t want to be subscribed anymore - delete my account</a
        >
      </div>
    </div>
  </div>
</div>
<div *ngIf="!authService.isLoggedIn || blockService.notYourPage">
  <p>Can't see this page bro, must login, you know</p>
</div>
