<div class="dialog-body">
    <!-- <h2 mat-dialog-title></h2> -->
    <mat-dialog-content class="delete-message">Are you sure you want to delete the selected image?</mat-dialog-content>
    <mat-dialog-actions>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button mat-button [mat-dialog-close]="true" class="nodice-button delete-image-button">Delete</button>
        <button mat-button mat-dialog-close class="cancel-delete-button">Cancel</button>
    
    </mat-dialog-actions>
</div>

