@import "../../../styles.scss";

.dialog-body {
    // width: 500px;
    // height: 240px;
    font-size: 16px;
    line-height: 20px;
    color: $primary-font-color;
   
    padding-left: 62px;
    .mat-dialog-content {
        margin-top: 75px;
        margin-bottom:40px;
    }
    .delete-image-button {
        padding: 8px 44.62px 7px 44.38px;
        color: $font-color-grey;
        font-size: 12px;
        letter-spacing: 0.36px;
        line-height: 15px;
        margin-right: 31px;
    }
    .cancel-delete-button {
        color: $color-light-grey;
        background: transparent;
        border: none;
        font-size: 12px;
        letter-spacing: 0.36px;
        line-height: 15px;
    }
    
}
