@import "../../../styles.scss";

.front-message {
  margin: 0;
  color: white;
  .main-top-container {
    width: 981px;
    margin: 0 auto;
  }
  .front-message-container {
    width: 548px;
    padding-top: 157px;
    .front-main-title {
      margin-bottom: 10px;
      overflow: visible;
    }
    .front-main-text {
      font-size: 18px;
      letter-spacing: 0.68px;
    }
    .front-button {
      margin-top: 28px;
      padding: 8px 17px 7px 18px;
    }
  }
}
