<div class="one-screen homepage">
  <div class="front-message blue-bckg">
    <div class="main-top-container">
      <div class="front-message-container">
        <img
          class="front-main-title"
          src="{{ urlBase }}assets/images/Online presence simplified..png"
          alt="Online presence simplified."
        />
        <img
          class="front-main-text"
          src="{{
            urlBase
          }}assets/images/Showcase services you offer without spending a dime on website creation & maintenance..svg"
          alt="Showcase services you offer without spending a dime on website creation & maintenance."
        />
        <div class="btn btn-primary front-button nodice-button">
          Get started
        </div>
      </div>
    </div>
  </div>
</div>
