<div *ngIf="isCustomerLoggedIn" class="reviews-container">
  <h2 class="review-title profile-subtitle">Client reviews</h2>
  <p class="write-review-action" (click)="onWriteReview()">
    Write a review
  </p>
  <div class="write-review-container" [style.display]="displayTextBox">
    <form (ngSubmit)="onSubmitReview(reviewText)" #reviewText="ngForm">
      <textarea name="write-review" id="write-review" ngModel> </textarea>
      <span class="click-star">Click to rate!</span>
      <div #stars>
        <img
          class="rate-star"
          data-value="1"
          src="wp-content/themes/nodice/dist/assets/images/stars/empty-star.svg"
          (click)="onGiveStars($event)"
          alt="Review star icon"
        />
        <img
          class="rate-star"
          data-value="2"
          src="wp-content/themes/nodice/dist/assets/images/stars/empty-star.svg"
          (click)="onGiveStars($event)"
          alt="Review star icon"
        />
        <img
          class="rate-star"
          data-value="3"
          src="wp-content/themes/nodice/dist/assets/images/stars/empty-star.svg"
          (click)="onGiveStars($event)"
          alt="Review star icon"
        />
        <img
          class="rate-star"
          data-value="4"
          src="wp-content/themes/nodice/dist/assets/images/stars/empty-star.svg"
          (click)="onGiveStars($event)"
          alt="Review star icon"
        />
        <img
          class="rate-star"
          data-value="5"
          src="wp-content/themes/nodice/dist/assets/images/stars/empty-star.svg"
          (click)="onGiveStars($event)"
          alt="Review star icon"
        />
      </div>

      <input
        id="give-stars"
        value="0"
        type="hidden"
        name="give-stars"
        id="give-stars"
        #rating
        ngModel
      />
      <!-- <app-give-stars></app-give-stars> -->
      <button type="submit" class="btn nodice-button submit-review">
        Submit
      </button>
    </form>
  </div>
</div>
