@import "./../../../styles.scss";

.reviews-container {
  .review-title {
    margin-bottom: 16px;
  }
  .write-review-action {
    font-size: 12px;
    letter-spacing: 0.24px;
    line-height: 15px;
    text-decoration: underline;
    color: $primary-header-color-lighter;
    cursor: pointer;
  }
  .write-review-container {
    width: 100%;
    #write-review {
      width: 100%;
      height: 211px;
    }
    .submit-review {
      color: $font-color-grey;
      padding: 8px 32px;
      margin-left: 20px;
      float: right;
    }
    .rate-star {
      display: inline-block;
      margin-left: 10px;
    }
    .rate-star:first-child {
      margin-left: 0;
    }
    .click-star {
      color: $primary-font-color;
      font-size: 10px;
      line-height: 13px;
    }
  }
}
