<div *ngIf="listAllComments">
  <div *ngFor="let comment of listAllComments">
    <div class="nodice-client-review__container">
      <div class="title-and-stars">
        <h6 class="customer-name">{{ comment.author_name }}</h6>
        <span class="given-stars">
          <img
            *ngFor="let rate of comment.rating"
            class="rate-star"
            src="wp-content/themes/nodice/dist/assets/images/stars/full-star.svg"
            alt="Review star icon"
          />
        </span>
      </div>
      <div class="customer-review-date">
        {{ comment.date | date: "medium" }}
      </div>
      <p
        class="customer-review-text"
        [innerHTML]="comment.content.rendered"
      ></p>
    </div>
  </div>
  <a style="display:none" id="load-more-reviews">Load more</a>
</div>
