@import "../../../styles.scss";

.nodice-client-review__container {
  box-shadow: 0px 8px 15px rgba(24, 43, 73, 0.08);
  width: 100%;
  min-height: 211px;
  padding: 30px 40px 30px 20px;
}

.customer-name {
  display: inline-block;
  font-weight: 900;
  font-size: 14px;
  color: $primary-font-color;
  line-height: 18px;
}
.given-stars {
  float: right;
  img {
    margin-left: 10px;
  }
  img:first-child {
    margin-left: 0;
  }
}
.customer-review-date {
  color: $color-light-grey;
  font-size: 10px;
  line-height: 13px;
  margin-top: 10px;
  margin-bottom: 37px;
}
.customer-review-text {
  font-size: 14px;
  line-height: 22px;
  color: $secondary-font-color;
}
