@import "../../../styles.scss";

.how-it-works-container {
  margin: 0 auto;
  color: $primary-font-color;
  width: 981px;
  .how-it-works-title {
    padding-top: 134px;
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 0;
  }
  .how-it-works-column {
    width: 300px;
    margin-bottom: 50px;
    h4 {
      font-size: 16px;
      font-weight: 900;
    }
    p {
      color: $secondary-font-color;
      font-size: 14px;
    }
    .image-container {
      width: inherit;
      position: relative;
      .image-number {
        position: absolute;
        bottom: 90px;
        left: -25px;
        color: $font-color-orange;
        font-size: 22px;
        font-weight: 900;
        line-height: 28px;
        text-align: left;
        width: 50px;
        height: 50px;

        border-radius: 50%;
        padding: 11px 19px 11px 19px;
      }
      .number-color-first {
        color: $font-color-orange;
        background: #fce0da;
        border: 0px solid #fce0da;
        padding: 11px 20px 11px 20px;
      }
      .number-color-second {
        color: $font-color-purple;
        background: #e6d8fb;
        border: 0px solid #e6d8fb;
      }
      .number-color-third {
        color: $font-color-green;
        background: #d1f9ee;
        border: 0px solid #d1f9ee;
      }
    }
    .how-it-works-first-image,
    .how-it-works-second-image,
    .how-it-works-third-image {
      width: 480px;
      // position: absolute;
      margin-left: -90px;
      // margin-top: 100px;
      height: 390px;
      // box-shadow: 20px 14px 18px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      // margin-bottom: 57px;
    }
    .how-it-works-second-image {
      margin-top: 58px;
    }
    .how-it-works-third-image {
      margin-top: 116px;
    }
  }
}
