<div class="how-it-works-container">
  <h2 class="how-it-works-title">How it works</h2>
  <div class="row">
    <div class="col-lg-4 how-it-works-column">
      <div class="image-container">
        <img
          src="{{ urlBase }}assets/images/Slika1.svg"
          class="how-it-works-first-image"
          alt="Business profile image"
        />
        <span class="image-number number-color-first">1</span>
      </div>

      <h4>Create your business profile</h4>
      <p>
        Use the power of NoDice search engine and become discoverable on the
        Internet.
      </p>
    </div>
    <div class="col-lg-4 how-it-works-column">
      <div class="image-container">
        <img
          src="{{ urlBase }}assets/images/Slika2.svg"
          class="how-it-works-second-image"
          alt="Decide on the industry field image"
        />
        <span class="image-number number-color-second">2</span>
      </div>

      <h4>Decide on the industry fields</h4>
      <p>
        Choosing your NoDice industry tags directly impacts how many people will
        see your online service offer in their search results.
      </p>
    </div>
    <div class="col-lg-4 how-it-works-column">
      <div class="image-container">
        <img
          src="{{ urlBase }}assets/images/Slika3.png"
          class="how-it-works-third-image"
          alt="Collect reviews image"
        />
        <span class="image-number number-color-third">3</span>
      </div>
      <h4>Collect reviews & grow</h4>
      <p>
        The higher your number of reviews get, the higher are chances to convert
        new customers. Start creating your marketing profile now!
      </p>
    </div>
  </div>
</div>
