<div class="footer">
    <div class="row">
        <div class="col-lg-3">
          <h6>@ NoDice, 2019.</h6>
        </div>
        <div class="col-lg-3">
          <h6>Support</h6>
          <ul>
            <li>Help</li>
            <li>FAQ</li>
            <li>Terms & conditions</li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h6>Contact</h6>
          <ul>
            <li>info@nodice.com</li>
            <li></li>
            <li>Based in Denmark, with team worldwide</li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h6>Follow us</h6>
          <p>Social icons</p>
        </div>
      </div>
</div>
