@import "../../../../styles.scss";

.footer {
    width: 981px;
    height: 90px;
    // padding: 34px 0;
    margin:44px auto 34px;
    h6 {
        size: 12px;
        font-weight: 900;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    ul li, p {
        color: $secondary-font-color;
    }
}
