@import "../../styles.scss";

.profile-tag {
    display:inline-block;
    background: rgba(20, 88, 234, 0.1);
    color: $primary-header-color-lighter;
    font-size: 10px;
    line-height: 22px;
    padding: 9px 8px 8px 9px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 0;
    border-radius: 5px;
}
.profile-tag:first-child {
    margin-left: 0;
}
