<app-header-home></app-header-home>
<div class="thank-you-page">
    <div class="blue-bckg"></div>
    <div class="thank-you-container">
      
      <h2 class="thank-you-title"> Thanks for joining NoDice community</h2>
  
      <div class="text-container">
          <p class="thank-you-message"> We're happy to have you. In your <a routerLink="/profile/example-page">profile settings</a> section you can manage your account and see reviews that you left. Now you can enjoy the full potential of your</p>
      
          <h5 class="thank-you-welcome">Welcome!</h5>
      </div>
      <div class="button-container">
          <button class="btn btn-primary nodice-button signup-button">Search Profiles</button>
      </div>
      
    
    </div>
      
  </div>
