@import "../../styles.scss";

.categories-container {
    padding-left: 40px;
    margin-top: 26px;
    margin-bottom: 81px;
    .category-icons-container {
        margin: 60px 0 65px;
        justify-content: center;
        .category-icon-box {
            position: relative;
            width: 210px;
            height: 210px;
            box-shadow: 0px 8px 15px rgba(24, 43, 73, 0.08);
            margin-left: 50px;
            margin-bottom: 65px;
            text-align: center;
            img {
                width: 109.5px;
                height: 109.54px;
                margin-top: 40px;
                // margin-left: 50px;
            }
            .icon-title {
                position: absolute;
                bottom: 10px;
                font-size: 14px;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 0.42px;
                text-align: center;
                color: $primary-header-color-lighter;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%)
            }
            
            .hidden-title, .number-of-profiles {
                color: white;
               
                
            }
            .hidden-title {
                display:inline-block;
                font-size: 14px;
                font-weight: 900;
                letter-spacing: 0.42px;
                line-height: 18px;
                text-transform: uppercase;
                padding-top: 64px;
                padding-bottom: 47px;
                // margin: 64px auto 47px;
            }
            
        }
       .category-icon-box.remove-margin-left {
            margin-left: 0;
        }
        #showBackground {
            background: $primary-header-color-lighter;
            img {
                display:none;
            }
        }
        #hideBackground {
            background: transparent;
            img {
                display:inline-block;
            }
        }
    }
    .category-icons-container:last-child {
        margin-bottom: 0;
    }
}
