<!-- <app-search-header></app-search-header> -->
<app-header-search></app-header-search>
<div class="categories-container">
  <h2 class="main-title">Categories</h2>
  <div class="row category-icons-container">
    <div class="" *ngFor="let icon of currentCategories; let i = index">
      <div
        *ngIf="i == 0 || i % 5 == 0"
        class="remove-margin-left category-icon-box"
        [id]="'icon-' + i"
        (mouseenter)="onCategoryMouseEnter($event)"
        (mouseleave)="onCategoryMouseLeave($event)"
        #elem
      >
        <a
          [routerLink]="['/search']"
          [queryParams]="{ services: 0, categories: icon.id, ratings: 0 }"
          class="d-none"
          >{{ icon.name }}</a
        >
        <p class="d-none">{{ icon.count }} profiles</p>
        <img
          *ngIf="icon.description; else defaultImage"
          src="{{ icon.description }}"
          alt="{{ icon.name }}"
        />
        <ng-template #defaultImage>
          <img
            src="{{ urlBase }}assets/images/sauna.png"
            alt="{{ icon.name }}"
          />
        </ng-template>
        <a
          [routerLink]="['/search']"
          [queryParams]="{ services: 0, categories: icon.id, ratings: 0 }"
          class="icon-title justify-content-center"
          >{{ icon.name }}</a
        >
      </div>

      <div
        *ngIf="i != 0 && i % 5 != 0"
        class="category-icon-box"
        [id]="'icon-' + i"
        (mouseenter)="onCategoryMouseEnter($event)"
        (mouseleave)="onCategoryMouseLeave($event)"
        #elem
      >
        <a
          [routerLink]="['/search']"
          [queryParams]="{ services: 0, categories: icon.id, ratings: 0 }"
          class="d-none"
          >{{ icon.name }}</a
        >
        <p class="d-none">{{ icon.count }} profiles</p>
        <img src="{{ icon.description }}" alt="{{ icon.name }}" />
        <a routerLink="/search" class="icon-title justify-content-center">{{
          icon.name
        }}</a>
      </div>
    </div>
  </div>
</div>
