<div class="carousel-width" id="slider">
  <div id="myCarousel" class="carousel slide">
    <!-- main slider carousel items -->
    <div class="carousel-inner">
      <div
        *ngFor="let data of getImagesData; let i = index"
        [ngClass]="{ active: i == 0, 'carousel-item': 1 }"
        [attr.data-slide-number]="i"
      >
        <img
          style="width: 600px !important;
                 height: 450px !important;
                 background: #E5E9F2;
                 padding: 8px;"
          src="{{ data.source_url }}"
          class="img-fluid active-image nodice-profile-image"
        />
      </div>
    </div>
    <!-- main slider carousel nav controls -->
    <ul class="carousel-indicators list-inlineW borde px-2">
      <li
        *ngFor="let data of getImagesData; let i = index"
        [ngClass]="{ active: i == 0, 'list-inline-item': 1 }"
      >
        <a
          *ngIf="i == 0"
          id="carousel-selector-{{ i }}"
          class="selected"
          [attr.data-slide-to]="i"
          data-target="#myCarousel"
        >
          <img
            src="{{ data.source_url }}"
            class="nodice-profile-carousel__image"
          />
        </a>
        <a
          *ngIf="i != 0"
          id="carousel-selector-{{ i }}"
          [attr.data-slide-to]="i"
          data-target="#myCarousel"
        >
          <img src="{{ data.source_url }}" class="" />
        </a>
      </li>
    </ul>
    <a
      class="carousel-control-prev"
      href="#myCarousel"
      role="button"
      data-slide="prev"
    >
      <img
        src="wp-content/themes/nodice/dist/assets/images/arrow-left.svg"
        alt="Show image"
      />
    </a>
    <a
      class="carousel-control-next"
      href="#myCarousel"
      role="button"
      data-slide="next"
    >
      <img
        src="wp-content/themes/nodice/dist/assets/images/arrow-right.svg"
        alt="Show image"
      />
    </a>
  </div>
</div>
