.carousel-width {
  max-width: 600px;
}

#slider {
  padding-left: 40px;
  width: 600px;
  #myCarousel {
    .carousel-inner {
      img.img-fluid {
        width: 600px !important;
        height: 450px !important;
      }
    }

    .list-inline {
      white-space: nowrap;
      overflow-x: auto;
    }

    .carousel-indicators {
      position: static;
      left: initial;
      // width: 600px;
      margin-left: initial;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }

    .carousel-indicators > li {
      width: initial;
      height: initial;
      text-indent: initial;
    }
    .carousel-indicators > li img {
      width: 150px;
      height: 112.5px;
      background: #e5e9f2;
      padding: 8px;
    }
    .carousel-indicators > li.active img {
      opacity: 1;
    }
    .carousel-control-prev,
    .carousel-control-next {
      top: 502px;
      // bottom: 41.5px !important;
      background: rgba(20, 88, 234, 0.1);
      border: 0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      opacity: 1;
    }
  }
}

.nodice-profile-image {
  object-fit: cover !important;
}

.nodice-profile-carousel__image {
  object-fit: cover;
}
