@import "../../../../styles.scss";
.dashboard-client-billing {
    margin-top:-56px;
    .margin-remove {
        margin-left: 0;
        margin-right: 0;
    }
    .dashboard-main {
        margin-bottom: 39px;
        .billing-cycle-container {
            margin-bottom: 39px;
            .billing-cycle {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 20px;
                color: $primary-font-color;
            }
            .billing-plan {
                width: 1007px;
                height: 100px;
                border: 1px solid #EBEBF2;
                padding: 30px 0 0 20px;
                font-size: 14px;
                .billing-plan-title {
                    display: inline-block;
                    line-height: 27px;
                    color: $primary-font-color;
                    margin-bottom: 10px;
                }
                .billing-price {
                    float: right;
                    font-size: 22px;
                    line-height: 28px;
                    color: $primary-header-color-lighter;
                    padding-right: 28px;
                }
                .billing-plan-message {
                    color: $secondary-font-color;
                    line-height: 22px;
                }
            }
        }
        .billing-payment-methods-container {
            margin-bottom: 39.48px;
            .billing-payment-methods {
                width: 1007px;
                min-height: 262.52px;
                margin-top: 20px;
                border: 1px solid #EBEBF2;
                padding-left: 20px;
                .billing-payment-message   {
                    font-size: 14px;
                    color: $secondary-font-color;
                    line-height: 22px;
                    margin-top: 25px;
                }
                .billing-payment-card {
                    width: 968px;
                    height: 60px;
                    line-height: 60px;
                    box-shadow: 0px 6px 20px #182B4914;
                    font-size: 14px;
                    color: $secondary-font-color;
                    .billing-card-image {
                        width: 29.46px;
                        height: 21.47px;
                    }
                    .billing-name {
                        padding-left: 70px;
                    }
                    .billing-card-data {
                        padding-left: 131px;
                    }
                    .billing-default {
                        padding-left: 222px;
                    }
                    .billing-edit {
                        padding-left: 163px;
                    }
                    .billing-delete {
                        padding-left: 10px;
                    }
                }
            }
        }
    
        .billing-history-container {
            width: 1005px;
           
            .billing-plan-title {
                margin-bottom: 20px;
            }
            .billing-history-table {
                border: 1px solid #EBEBF2;
                padding: 20px 18px;
                .billing-history-header, .billing-history-body {
                    width: 968px;
                    
                    .billing-date {
                        display: inline-block;
                        width: 100px;
                    }
                    .billing-description {
                        display: inline-block;
                        width: 250px;
                        margin-left: 185.39px;
                    }
                    .billing-amount {
                        width: 100px;
                        padding-left: 81.61px;
                    }
                }
                .billing-history-header {
                    font-size: 12px;
                    text-transform: uppercase;
                    height: 45px;
                    line-height: 45px;
                    background: #E5E9F2;
                    color: $primary-font-color;
                    font-weight: 900;
                }
                .billing-history-body  {
                    height: auto;
                    line-height: 50px;
                    font-size: 14px;
                    color: $secondary-font-color;
                    .billing-download{
                        padding-left: 150px;
                    }
                    .billing-pdf {
                        padding-left: 50px;
                    }
                }
            }
        }
    }
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .stripe-container {
     #card-element {
        width: 668px;
        height: 60px;
        line-height: 60px;
        box-shadow: 0px 6px 20px #182B4914;
        font-size: 14px;
        color: $secondary-font-color;
     }
    .StripeElement {
        box-sizing: border-box;
      
        height: 40px;
      
        padding: 10px 12px;
      
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: white;
      
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
      }
      
      .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
      }
      
      .StripeElement--invalid {
        border-color: #fa755a;
      }
      
      .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
      }

      .stripe-button {
          color: $font-color-grey;
          padding: 7px 13px;
          margin-top: 15px;
      }
 }
 
  
