<div
  *ngIf="authService.isLoggedIn && !blockService.notYourPage"
  class="dashboard-client-billing"
>
  <div class="row margin-remove">
    <div class="col-lg-10 dashboard-main">
      <div class="dashboard-title">
        Billing information
      </div>
      <div class="billing-cycle-container">
        <h6 class="billing-cycle">
          Billing cycle
        </h6>
        <div class="billing-plan">
          <h6 class="billing-plan-title">Plan</h6>
          <span class="billing-price">{{ priceOfPlan }}</span>
          <p class="billing-plan-message">
            Billing cycle resets on June 14, 2019.
          </p>
        </div>
      </div>

      <!-- test stripe -->
      <div class="billing-payment-methods-container">
        <h6 class="billing-plan-title">Payment methods</h6>
        <div class="stripe-container billing-payment-methods">
          <p class="billing-payment-message">
            Card will be charged monthly for the plan selected. All major
            credit/debit cards are accepted.
          </p>
          <form action="/charge" method="post" id="payment-form">
            <div class="form-container">
              <div class="form-group">
                <div class="form-row">
                  <!-- <label for="card-element">Credit or debit card</label> -->
                  <div id="card-element"></div>
                  <img
                    (click)="onDeleteClick($event)"
                    style="padding: 6px;"
                    src="wp-content/themes/nodice/dist/assets/images/trash-2.svg"
                    alt="Delete your subscription"
                  />
                  <div id="card-errors" role="alert"></div>
                </div>
                <button class="nodice-button stripe-button">
                  Add payment source
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- end of test -->

      <!-- <div class="billing-payment-methods-container">
        <h6 class="billing-plan-title"> Payment methods</h6>
        <div class="billin-payment-methods">
          <p class="billing-payment-message">Card will be charged monthly for the plan selected. All major credit/debit cards are accepted.</p>
          <div class="billing-payment-card">
            <img src="" alt="" class="billing-card-image" />
            <span class="billing-name">Mark Johnson</span>
            <span class="billing-card-data">xxxx-0306, expires -5/2022</span>
            <span class="billing-default">Default</span>
            <span class="billing-edit">E</span>
            <span class="billing-delete">D</span>


          </div>
        </div>
      </div> -->

      <div class="billing-history-container">
        <h6 class="billing-plan-title">
          Billing history
        </h6>
        <div class="billing-history-table">
          <div class="billing-history-header">
            <span class="billing-date">Date</span>
            <span class="billing-description">
              Description
            </span>
            <span class="billing-amount">Amount</span>
          </div>
          <div class="billing-history-body">
            <div
              *ngFor="let invoice of listInvoices"
              class="billing-history-body-row"
            >
              <span class="billing-date">{{
                invoice.created * 1000 | date
              }}</span>
              <span class="billing-description">
                {{ invoice.lines.data[0].plan.nickname }}
              </span>
              <span class="billing-amount"
                >${{ invoice.amount_paid / 100 }}</span
              >
              <span class="billing-download">Download</span>
              <span class="billing-pdf"
                ><a href="{{ invoice.invoice_pdf }}" title="Invoice PDF">PDF</a>
              </span>
            </div>
          </div>

          <!-- <div class="billing-history-table">
          <div class="billing-history-header">
            <span class="billing-date">Date</span>
            <span class="billing-description">
              Description
            </span>
            <span class="billing-amount">Amount</span>
          </div>
          <div class="billing-history-body">
            <div class="billing-history-body-row">
              <span class="billing-date">May 14, 2019</span>
              <span class="billing-description">
                Payment(Master Card) Team plan
              </span>
              <span class="billing-amount">-$11</span>
              <span class="billing-download">Download</span>
              <span class="billing-pdf">PDF</span>
            </div>
          </div>

        </div> -->
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!authService.isLoggedIn || blockService.notYourPage">
    <p>Can't see this page bro, must login, you know</p>
  </div>
</div>
