@import "../../../styles.scss";

.signup-page {
    margin-top: -90px;
    .signup-container{
      
        .error-message {
            position: absolute;
            color: red;
            font-size: 12px;
        }
        .border-client {
            border: 1px solid #E5E9F2;
            background: $font-color-grey 0% 0% no-repeat padding-box;
        }
        .signup-business-tab, .signup-offers-tab {
            display:inline-block;
            width: 400px;
            padding: 22px 0;
            margin:o auto;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #E5E9F2;
            font-size: 14px;
            line-height: 22px;
            text-align: left;
            text-transform: uppercase;
            text-align: center;
            cursor: pointer;
            color: #C0CCDA;
            font-weight: 900;
        }
        .active-tab {
            color: #1458EA;
            font-weight: 900;
        }
        
        .error-message {
            color: red;
        }
        .signup-body {
            padding-left: 74px;
            box-shadow: 0px 20px 60px rgba(24, 43, 73, 0.08);
            margin-bottom: 70px;
            height: 600px;
            .profile-details-title {
                font-size: 16px;
                color: $primary-font-color;
                padding: 40px 0;
                line-height: 20px;
                font-weight: 900;
            }
            .form-group { 
                label {
                    font-size: 12px;
                    font-weight: 900;
                    color: $primary-header-color-lighter;
                    line-height: 22px;
                }
                input {
                    width: 240px;
                    background: $font-color-grey;
                    border:1px solid $font-color-grey;
                    margin-right: 40px;
                }
                // select {
                //     width: 520px;
                //     background: $font-color-grey;
                //     border:1px solid $font-color-grey;
                // }
            }
            .profile-details-container {
               
                .left-profile-details-subcontainer {
                    margin-right: 40px;
                }

            }
            
            // .industry-tags-container {
               
                
            // }
            .signup-client-actions {
                padding-bottom: 70px;
                margin-top: 60px;
                .signup-button {
                    padding: 8px 43px;
                }
                .settings-button {
                    padding: 8px 42.62px 7px 43.38px;
                }
                .log-in-client {
                    padding-left: 27px;
                    color: $primary-header-color-lighter;
                    letter-spacing: 0.36px;
                    font-weight: 900;
                }
            }
            .signup-client-actions.offer-actions {
                padding-top: 60px;
            }
            
            
        }

    }
}

/** style Materialize Mutiple select box */
::ng-deep .mat-form-field-underline {
    display: none;
}
::ng-deep .mat-form-field-wrapper{
    width: 520px;
    height: 40px;
    background: $font-color-grey;
    padding: 0;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0;
}
