<app-header-home></app-header-home>
<div class="signup-page">
  <div class="blue-bckg"></div>
  <div class="signup-container top-container">
    <span
      class="signup-business-tab border-client {{ activeTabClient }}"
      (click)="displayTab('business')"
      >I want to showcase my business</span
    >
    <span
      class="signup-offers-tab {{ activeTabCustomer }}"
      (click)="displayTab('offers')"
      >I want to find offers</span
    >

    <!-- CLIENT SIGN UP TAB-->
    <div class="signup-body">
      <h2 class="profile-details-title">Profile details</h2>
      <form (ngSubmit)="registerClients(businessForm)" #businessForm="ngForm">
        <div class="business-body" [style.display]="showBusiness">
          <div *ngIf="validateExist" class="error-message">
            Email or Username already exist. Please try again.
          </div>
          <div class="profile-details-container">
            <div class="row">
              <div class="col-lg-4 left-profile-details-subcontainer">
                <div class="form-group">
                  <label for="ful-name">Full name</label>
                  <input
                    type="text"
                    id="full-name"
                    class="form-control"
                    name="full-name"
                    ngModel
                    required
                    #fullName="ngModel"
                  />
                  <div
                    *ngIf="!fullName.valid && fullName.touched"
                    class="error-message"
                  >
                    {{ errorMessage }}
                  </div>
                </div>

                <div class="form-group">
                  <label for="email-address">Email address</label>
                  <input
                    type="email"
                    id="email-address"
                    class="form-control"
                    name="email-address"
                    required
                    email
                    ngModel
                    #email="ngModel"
                  />
                  <div
                    *ngIf="!email.valid && email.touched"
                    class="error-message"
                  >
                    {{ errorMessageEmail }}
                  </div>
                </div>
                <div *ngIf="validateBackend" class="error-message">
                  {{ errorMessageBackend }}
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="business-page-name">Business page name</label>

                  <input
                    type="text"
                    id="business_page_name"
                    class="form-control"
                    name="business_page_name"
                    ngModel
                    required
                    #businessPage="ngModel"
                  />
                  <div
                    *ngIf="!businessPage.valid && businessPage.touched"
                    class="error-message"
                  >
                    {{ errorMessage }}
                  </div>
                </div>
                <div class="form-group">
                  <label for="business-password">Password</label>
                  <input
                    type="password"
                    id="business-password"
                    name="business-password"
                    class="form-control"
                    ngModel
                    required
                    #password="ngModel"
                  />
                  <div
                    *ngIf="!password.valid && password.touched"
                    class="error-message"
                  >
                    {{ errorMessage }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="industry-tags-container">
            <h2 class="profile-details-title">Industry tags</h2>
            <div class="form-group">
              <label for="select-categories">Select categories</label>
              <div class="">
                <mat-form-field>
                  <mat-select
                    name="select-categories"
                    id="select-test"
                    [disableOptionCentering]
                    multiple
                    ngModel
                    required
                    #categories="ngModel"
                  >
                    <mat-option
                      value="{{ category.id }}"
                      *ngFor="let category of displayCategories; let i = index"
                      >{{ category.name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <div
                  *ngIf="!categories.valid && categories.touched"
                  class="error-message"
                >
                  {{ errorMessage }}
                </div>
              </div>
            </div>
          </div>

          <div class="signup-client-actions">
            <button
              type="submit"
              class="btn btn-primary nodice-button settings-button"
              [disabled]="!businessForm.valid"
            >
              Sign up
            </button>
            <a routerLink="/login" class="log-in-client"
              >I already have an account - log in</a
            >
          </div>
        </div>
      </form>

      <!-- OFFERS TAB SIGNUP -->
      <form (ngSubmit)="registerCustomers(offersForm)" #offersForm="ngForm">
        <div class="offers-body" [style.display]="showOffer">
          <div class="profile-details-container">
            <div class="row">
              <div class="col-lg-4 left-profile-details-subcontainer">
                <div class="form-group">
                  <label for="first-name">First name</label>
                  <input
                    type="text"
                    id="first-name"
                    name="first-name"
                    class="form-control"
                    ngModel
                  />
                </div>

                <div class="form-group">
                  <label for="last-name">Last name</label>
                  <input
                    type="text"
                    id="last-name"
                    name="last-name"
                    class="form-control"
                    ngModel
                  />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="email-address">Email address</label>
                  <input
                    type="offers-email"
                    id="offers-email-address"
                    name="offers-email-address"
                    class="form-control"
                    ngModel
                  />
                </div>

                <div class="form-group">
                  <label for="offers-password">Password</label>
                  <input
                    type="password"
                    id="offers-password"
                    name="offers-password"
                    class="form-control"
                    ngModel
                  />
                </div>
              </div>
            </div>

            <div class="signup-client-actions offer-actions">
              <button
                type="submit"
                class="btn btn-primary nodice-button signup-button"
              >
                Sign up
              </button>
              <a routerLink="/login" class="log-in-client"
                >I already have an account - log in</a
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
