@import "../../../../styles.scss";

.dashboard-client-gallery {
  margin-top: 56px;
  .margin-remove {
    margin-left: 0;
    margin-right: 0;
  }

  .gallery-page-container {
    margin-top: 96px;
    // padding-left: 57px;
    width: 1050px;
    margin: 96px auto 0;
    .gallery-action-line {
      margin-bottom: 45px;
      font-size: 12px;
      letter-spacing: 0.24px;
      line-height: 15px;
      .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
      }
      .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
      }
      .upload-image-link {
        color: $primary-header-color-lighter;
        text-decoration: underline;
        padding-left: 57px;
      }
      .display-images {
        // display: inline-block;
        float: right;
      }
      .grid {
        margin-right: 5px;
      }
      .list {
        margin-right: 22px;
      }
      .sort-by {
        color: $color-light-grey;
        margin-right: 9px;
      }
      .images-selection {
        background: transparent;
        border: none;
      }
    }
    .images-container {
      display: inline-block;
      .list-images {
        display: inline-block;
        padding-left: 67px;
        width: 1051px;
        height: 60px;
        border-bottom: 1px solid #e5e9f2;
        cursor: pointer;
        .gallery-image {
          display: inline-block;
          background: #e5e9f2;
          padding: 4px;
          width: 53.33px !important;
          height: 40px !important;
        }
        // .image-title {
        //     display: inline-block;
        //     font-size: 14px;
        //     line-height: 22px;
        //     letter-spacing: 0;
        //     color: $secondary-font-color;
        //     margin-left: 19.67px;
        // }
        // .date-uploaded {

        //     // float: right;
        // }
        .icons-container {
          float: right;
          .icon-circle-move {
            float: right;
            width: 25px;
            height: 25px;
            border: 0;
            border-radius: 50%;
            background: #e7eefd 0% 0% no-repeat padding-box;
            margin-right: 10px;
            .move-icon {
              display: inline;
              padding: 6px;
            }
          }
          .icon-circle-trash {
            float: right;
            width: 25px;
            height: 25px;
            border: 0;
            border-radius: 50%;
            background: #feefec 0% 0% no-repeat padding-box;
            .trash-icon {
              display: inline;
              padding: 6px;
            }
          }
        }

        // .drag-box {
        //     width: 150px !important;
        //     height: 112.5px !important;
        // }
        // .cdk-drag {
        //     width: 150px !important;
        //     height: 112.5px !important;
        // }
        // .cdk-drag-placeholder {
        //     width: 150px !important;
        //     height: 112.5px !important;
        // }
      }
      .cdk-drag-placeholder {
        border: dotted 2px $color-light-grey;
        transition: transform 500ms ease;
      }
    }
  }
}
.nodice-dashboard-gallery__main-container {
  // position: relative;
}

.nodice-dashboard-gallery-first-upload__container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  width: 400px;
  height: 400px;
  border: 0px;
  border-radius: 50%;
  background: rgba(20, 88, 234, 0.1);
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}

.nodice-dashboard-gallery-first-upload__upload-icon {
  width: 90.43px;
  height: 90.43px;
  margin-top: 73px;
  margin-bottom: 40.57px;
}

.nodice-dashboard-gallery__empty-title {
  color: $primary-font-color;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.nodice-dashboard-gallery__upload-message {
  color: $secondary-font-color;
  margin-bottom: 5px;
  line-height: 22px;
}
.nodice-dashboard-gallery__upload-comment {
  width: 316px;
  height: 28px;
  font-size: 10px;
  line-height: 13px;
  color: $secondary-font-color;
  margin: 0 auto 20px;
}
.nodice-dashboard-gallery__upload-button {
  color: $font-color-grey;
  padding: 8px 21.62px 7px 22.38px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.nodice-dashboard-gallery-image__title {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
  color: #8292a5;
  margin-left: 19.67px;
}

.nodice-dashboard-gallery__trash-icon {
  float: right;
  width: 25px;
  height: 25px;
  border: 0;
  border-radius: 50%;
  background: #feefec 0% 0% no-repeat padding-box;
  margin-top: 7.5px;
}

.nodice-dashboard-gallery__move-icon {
  float: right;
  width: 25px;
  height: 25px;
  border: 0;
  border-radius: 50%;
  background: #e7eefd 0% 0% no-repeat padding-box;
  margin-top: 7.5px;
}

.nodice-dashboard-gallery__date-uploaded {
  display: inline-block;
  font-size: 10px;
  line-height: 40px;
  color: #c0ccda;
  margin-right: 20px;
  height: 40px;
  float: right;
}

.nodice-dashboard-gallery__drag-box {
  padding-left: 67px;
  padding-top: 10px;
  padding-bottom: 10px;
}
