<div *ngIf="!blockService.notYourPage" class="dashboard-client-gallery">
  <div *ngIf="defaultPage" class="row margin-remove">
    <div class="nodice-dashboard-gallery__main-container">
      <div class="circle nodice-dashboard-gallery-first-upload__container">
        <img
          class="nodice-dashboard-gallery-first-upload__upload-icon"
          src="wp-content/themes/nodice/dist/assets/images/image-upload.svg"
        />

        <h6 class="nodice-dashboard-gallery__empty-title">Nothing here!</h6>
        <p class="nodice-dashboard-gallery__upload-message">
          Drop your images or use the upload button.
        </p>
        <p class="nodice-dashboard-gallery__upload-comment">
          *Image size should be 600x450 or proportional. Your images will be
          automatically cropped and optimized upon uploading.
        </p>
        <!-- <button class=" upload-button nodice-button" (click)="selectFile($event)">Upload images</button> -->
        <div
          class="fileUpload btn nodice-dashboard-gallery__upload-button nodice-button"
          (change)="selectFile($event)"
        >
          <span>Upload image</span>
          <input type="file" class="upload" #upload />
        </div>

        <!-- <input type="file" (change)="addFiles($event)" style="display: none" #file multiple>  -->
      </div>
    </div>
  </div>
  <div *ngIf="!defaultPage" class="row margin-remove">
    <div class="gallery-page-container">
      <div class="gallery-action-line">
        <a class="upload-image-link fileUpload" (change)="selectFile($event)"
          ><input type="file" class="upload" #upload />Upload images</a
        >
        <div class="display-images"></div>
      </div>
      <div class="images-container">
        <div
          *ngIf="imagesArray"
          class="box-list"
          cdkDropList
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="list-images drag-box nodice-dashboard-gallery__drag-box"
            *ngFor="let data of imagesArray; let i = index"
            cdkDrag
          >
            <img
              width="53.33"
              height="40"
              id="{{ data.id }}"
              class="gallery-image"
              src="{{ data.source_url }}"
            />
            <h5
              class="nodice-dashboard-gallery-image__title"
              [innerHTML]="data.title.rendered"
            ></h5>

            <div class="icons-container">
              <div
                class="nodice-dashboard-gallery__trash-icon icon-circle-trash"
                style=" "
              >
                <img
                  (click)="onDeleteClick($event)"
                  style="padding: 6px;"
                  src="wp-content/themes/nodice/dist/assets/images/trash-2.svg"
                  alt="You can move and organize images by drag and drop"
                />
              </div>
              <div
                class="move-icon nodice-dashboard-gallery__move-icon icon-circle-move"
              >
                <img
                  style="padding: 6px;"
                  src="wp-content/themes/nodice/dist/assets/images/move.svg"
                  alt="You can move and organize images by drag and drop"
                />
              </div>
            </div>
            <div class="nodice-dashboard-gallery__date-uploaded">
              <span>Uploaded {{ data.date }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="blockService.notYourPage">
  <p>Can't see this page bro, must login, you know</p>
</div>
