<div class="dashboard-navigation">
  <div class="settings">
    <h4>Settings</h4>
    <ul>
      <li>
        <a
          routerLink="/nodice-dashboard/{{ userID }}/general"
          title="General"
          class="{{ isGeneralActive }}"
          >General</a
        >
      </li>
      <li>
        <a
          routerLink="/nodice-dashboard/{{ userID }}/gallery"
          title="Gallery"
          class="{{ isGalleryActive }}"
          >Gallery</a
        >
      </li>
    </ul>
  </div>
  <div class="account">
    <h4>Account</h4>
    <ul>
      <li>
        <a
          routerLink="/nodice-dashboard/{{ userID }}/plan"
          title="Plan"
          class="{{ isPlanActive }}"
          >Plan</a
        >
      </li>
      <li>
        <a
          routerLink="/nodice-dashboard/{{ userID }}/billing"
          title="Billing information"
          class="{{ isBillingActive }}"
          >Billing information</a
        >
      </li>
    </ul>
  </div>
</div>
