@import "../../../../styles.scss";

.dashboard-navigation {
    display:inline-block;
    background: #E5E9F2;
    // padding-top: 96px;
    width: 200px;
    padding-left: 40px;
    padding-top: 96px;
    min-height: 100vh;
    height: 100%;
    color: $primary-font-color;
    box-shadow: 3px 0px 20px rgba(24, 43, 73, 0.08);

    .settings, .account {
        // padding-top: 40px;
        h4 {
            font-size: 12px;
            line-height: 20px;
            font-weight: 900;
            margin-bottom: 29px;
            text-transform: uppercase;
        }
        ul {
            padding-left: 0;
            li {
                list-style-type: none;
                a {
                    color: $secondary-font-color;
                    font-size: 14px;
                    line-height: 27px;
                }
            }
            li:first-child {
                padding-bottom: 30px;
            }
        }
        ul li a.active-nav-link {
            color: $primary-header-color-lighter;
            font-weight: 900;
        }
       
    }
    .account {
        padding-top: 40px;
    }
}
