<div class="wrapper">
  <nav id="sidebar" [style.display]="showSidebar">
    <div class="sidebar-header"></div>
    <div class="close-sidebar" (click)="closeSidebar()">
      <i class="fas fa-times"></i>
    </div>
    <ul class="list-unstyled components nodice-search-list">
      <li class="active">
        <a class="nodice-search">Search</a>
      </li>
      <li>
        <a routerLink="/categories">Categories</a>
      </li>
      <li>
        <a routerLink="/about">About</a>
      </li>
      <li>
        <a routerLink="/pricing">Pricing</a>
      </li>
      <li>
        <a routerLink="/contact">Contact</a>
      </li>
      <li
        *ngIf="
          isLoggedInLocalStorage == 'true' &&
          (userType == 'client' || userType == 'administrator')
        "
      >
        <a routerLink="/nodice-dashboard/{{ userID }}/general" class=""
          >Go to Dashboard</a
        >
      </li>
      <li *ngIf="isLoggedInLocalStorage == 'true' && userType == 'customer'">
        <a routerLink="/nodice-dashboard/{{ userID }}/general" class=""
          >Go to Dashboard</a
        >
      </li>
    </ul>
    <div *ngIf="isLoggedInLocalStorage == 'false'" class="login-signup-actions">
      <button routerLink="/login" class="nodice-button login">Log in</button>
      <button routerLink="/signup" class="nodice-button login">Sign up</button>
    </div>
    <div *ngIf="isLoggedInLocalStorage == 'true'" class="login-signup-actions">
      <!-- <a routerLink="/profile/profile-slug" class="">See profile page</a> -->
      <button class="nodice-button logout" (click)="onLogout()">Logout</button>
    </div>
  </nav>
</div>
