
@import "../../../../../styles.scss"; 
.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    #sidebar {
        width: 319px;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        z-index: 999;
        background: $primary-background-color;
        color: $primary-font-color;
        transition: all 0.3s;
        box-shadow: -3px 0px 20px #182B4914;
    }

    .close-sidebar {
        text-align: right;
        font-size: 21px;
        padding-right: 30px;
        padding-top: 30px;
        color: $primary-font-color;
        margin-bottom: 83px;
        cursor: pointer;
    }
    .nodice-search-list {
        padding-left: 75px;
        li {
            margin-bottom: 20px;
        }
        li a {
            text-transform: uppercase;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.42px;
            color: $primary-font-color;

        }
    }
    .login-signup-actions {
        position:absolute;
        bottom: 0;
        // text-align: center;
        margin-bottom: 41px;
        padding-left: 70px;
    }
    .login, .signup, .logout {
        padding: 8px 72.62px 7px 72.38px;
        font-size: 12px;
        letter-spacing: 0.36px;
        line-height: 15px;
       
        color: $font-color-purple;
        border: 2px solid $font-color-purple;
    }
    .login {
        margin-bottom: 15px;
        background: white;
    }
    .signup {
        background: white;
    }
    .logout {
        background: $font-color-purple;
        color: white;
    }
}
