@import "../../../../styles.scss";

.dashboard-client-general {
    margin-top: -56px;
    .margin-remove {
        margin-left: 0;
        margin-right: 0;
    }
    .general-main {
        margin-top: 92px;
        div {
            width: 600px;
            margin-left: 90px;
        }
        color: #182B49;
        .general-header {
            margin-bottom: 30px;
            .general-title {
                position: relative;
                display: inline-block;
                font-size: 22px;
                line-height: 28px;
                font-weight: 900;
                // font: Bold 22px/28px Circular Std;
                letter-spacing: 0;
                opacity: 1;
                .rounded-container {
                    position: absolute;
                    top: -10px;
                    right: -35px;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    border: 0px solid #E5E9F2;
                    background: #E5E9F2 0% 0% no-repeat padding-box;
                    i {
                        position: absolute;
                        text-align: center;
                        left: 8.04px;
                        top: 6.96px;
                        font-size: 10px;
                        color: $primary-header-color-lighter;
                        cursor: pointer;
                    
                    }
                }
                
            }
        }
        .general-text {
            margin-bottom: 40px;
            width: 630px;
            height: auto;
            min-height: 140px;
            background: $font-color-grey;
            
            div {
                color: $secondary-font-color;
                border: none;
                width: 600px;
                height: auto;
                margin: 0 auto;
                min-height: 92px;
                background: $font-color-grey;
            }
            .edit-general-text {
                color: $primary-header-color-lighter;
               
            }
        }
        .general-text-actions {
            padding: 20px 0 40px;
            .general-save-button {
                $font-size: 12px;
                color: $font-color-grey;
                padding: 8px 36.5px;
                letter-spacing: 0.36px;
                line-height: 15px;
            }
            .general-cancel-button {
                background: transparent;
                border: none;
                margin-left: 30px;
                color: #C0CCDA;
            }
            .general-cancel-button:hover {
                color: red;
            }
        }
        .general-services {
            margin-bottom: 40px;
            h3{
                position: relative;
                text-align: left;
                display: inline-block;
                // font: Book 16px/20px Circular Std;
                font-size: 16px;
                font-weight: 900;
                letter-spacing: 0;
                color: #182B49;
                opacity: 1;
                .rounded-container {
                    position: absolute;
                    top: -10px;
                    right: -35px;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    border: 0px solid #E5E9F2;
                    background: #E5E9F2 0% 0% no-repeat padding-box;
                    i {
                        position: absolute;
                        text-align: center;
                        left: 8.04px;
                        top: 6.96px;
                        font-size: 10px;
                        color: $primary-header-color-lighter;
                        cursor: pointer;
                    
                    }
                }
            }
            .services-container {
                margin-left: 0;
                span{
                    display: inline-block;
                    color: #1458EA;
                    font-size: 10px;
                    font-weight: 700;
                    width: auto;
                    padding: 9px 8px 8px 9px;
                    margin: 0 15px 15px 0;
                    background-color: rgba(20, 88, 234, 0.1);
                    border: 0 solid;
                    border-radius: 5px;
                }
            }
            
        }

        
        .general-contact-information {
            div {
                margin-left: 0;
                margin-bottom: 20px;
                img {
                    width: 25px;
                    height: 25px;
                }
                input {
                    width: 300px;
                    height: 18px;
                    font-size: 14px;
                    line-height: 18px;
                    border: none;
                    color: $color-light-grey;
                    margin-left: 11px;
                }
            }
            h3 {
                font-size: 16px;
                font-weight: 900;
                margin-bottom: 20px;
            }
        }
    }
}
