<app-header-dashboard></app-header-dashboard>
<div
  *ngIf="
    authenticateService.isLoggedIn && !notYourPage && !blockService.notYourPage
  "
  class="dashboard-client-general"
>
  <div class="row margin-remove">
    <app-dashboard-navigation-client></app-dashboard-navigation-client>
    <div class="col-lg-10 general-main">
      <div class="general-header">
        <h2 class="general-title">
          {{ clientProfilePageName }}
          <span class="rounded-container">
            <i class="fas fa-pen" (click)="editTextarea()"></i>
          </span>
        </h2>
      </div>
      <div class="general-text d-flex">
        <div
          tabindex="0"
          #textarea
          [contentEditable]="contentEditable"
          class="row justify-content-center align-self-center {{ isEditText }}"
          [innerHTML]="clientProfileText"
        ></div>
      </div>
      <div *ngIf="contentEditable" class="general-text-actions">
        <button
          class="nodice-button general-save-button"
          (click)="submitClientProfileText()"
        >
          Save
        </button>
        <button class="general-cancel-button" (click)="onCancel()">
          Cancel
        </button>
      </div>

      <div class="general-services">
        <h3>
          Services
          <span class="rounded-container">
            <i class="fas fa-pen" (click)="addServices()"></i>
          </span>
        </h3>

        <form
          *ngIf="displayServicesBox"
          (ngSubmit)="saveServicesOnSubmit(save)"
          #save="ngForm"
        >
          <mat-form-field>
            <mat-select
              name="select-services"
              id="select-test"
              [disableOptionCentering]
              multiple
              ngModel
            >
              <mat-option
                value="{{ service.name }}"
                *ngFor="let service of displayServices; let i = index"
                >{{ service.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <button type="submit" class="nodice-button">Save</button>
        </form>
        <div class="services-container">
          <!-- <span *ngFor="let service of displayChosenServices">{{service}}</span> -->
          <app-display-services [pageID]="pageID"></app-display-services>
        </div>
      </div>

      <div class="general-contact-information">
        <h3>Contact information</h3>
        <form (submit)="saveClientContactData(formData)" #formData="ngForm">
          <div class="phone-number">
            <img
              src="wp-content/themes/nodice/dist/assets/images/telephone.svg"
              alt="Contact telephone"
            />
            <input
              type="text"
              name="phone"
              placeholder="{{
                phone ? phone : 'Enter your phone number and press Enter'
              }}"
              [(ngModel)]="phone"
            />
          </div>
          <div class="email">
            <img
              src="wp-content/themes/nodice/dist/assets/images/email.svg"
              alt="Contact email"
            />
            <input
              type="text"
              name="email"
              placeholder="{{
                email ? email : 'Enter your email and press Enter'
              }}"
              value="{{ email ? email : '' }}"
              [(ngModel)]="email"
            />
          </div>
          <div class="web-site">
            <img
              src="wp-content/themes/nodice/dist/assets/images/website.svg"
              alt="Website"
            />
            <input
              type="text"
              name="website"
              placeholder="{{
                website ? website : 'Enter your website  and press Enter'
              }}"
              value="{{ website ? website : '' }}"
              [(ngModel)]="website"
            />
          </div>
          <button type="submit" style="display:none">hidden submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="
    !authenticateService.isLoggedIn || notYourPage || blockService.notYourPage
  "
>
  <p>Can't see this page bro, must login, you know</p>
</div>
