<!-- <app-header-dashboard></app-header-dashboard> -->
<div *ngIf="!blockService.notYourPage" class="dashboard-customer-general">
  <div class="row margin-remove">
    <!-- <app-dashboard-navigation-customer></app-dashboard-navigation-customer> -->
    <div class="col-lg-10 general-main">
      <h2 class="your-account">Your account</h2>
      <h6 class="customer-general-title">General</h6>
      <form (ngSubmit)="onSubmitUserData(submitUser)" #submitUser="ngForm">
        <div class="form-container">
          <div *ngIf="userData" class="form-group">
            <label for="customer-username">Username</label>
            <input
              type="text"
              id="customer-username"
              class="form-control"
              name="customer-username"
              [ngModel]="userData.display_name"
            />
          </div>

          <div class="form-group">
            <label for="color-theme">Color theme</label>
            <select
              id="color-theme"
              name="color-theme"
              class="form-control"
              ngModel
            >
              <option selected>Light theme</option>
              <option selected>Dark theme</option>
            </select>
          </div>
          <button type="submit" class="nodice-button customer-save-button">
            Save settings
          </button>
        </div>
      </form>
      <h6 class="customer-general-title">Password reset</h6>
      <form
        (ngSubmit)="onSubmitPassword(submitPassword)"
        #submitPassword="ngForm"
      >
        <div class="form-container">
          <div class="form-group"></div>

          <div class="form-group">
            <label for="customer-password">Old password</label>
            <input
              type="password"
              id="customer-password"
              class="form-control customer-password"
              name="customer-password"
              ngModel
            />
          </div>

          <div class="form-group">
            <label for="customer-confirm-password">New password</label>
            <input
              type="password"
              id="customer-confirm-password"
              class="form-control customer-confirm-password"
              name="customer-confirm-password"
              ngModel
            />
          </div>
          <button class="nodice-button customer-save-button">
            Reset password
          </button>
        </div>
      </form>
      <div class="delete-container">
        <a routerLink="" class="delete-my-account" title="Delete my account"
          >I don’t want to be a part of NoDice community anymore - delete my
          account</a
        >
      </div>
    </div>
  </div>
</div>
<div *ngIf="blockService.notYourPage">
  <p>Can't see this page bro, must login, you know</p>
</div>
