@import "./../../../../styles.scss";
.dashboard-customer-general {
    .margin-remove {
        margin-left: 0;
        margin-right: 0;
    }
    .general-main {
        margin-top: 92px;
        padding-left: 90px;
        display:inline-block;
        color: $primary-font-color;
        .your-account {
            font-size:22px;
            line-height: 28px;
            color: $primary-font-color;
            font-weight: 900;
            margin-bottom: 40px;
        }
        .customer-general-title {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 20px;
        }
        label {
            color: $primary-header-color-lighter;
            font-size: 12px;
            font-weight: 900;
            line-height: 20px;
        }
        .form-container{
            .form-group {
                input, select {
                    background: $font-color-grey;
                    border: $font-color-grey;
                    width: 240px;
                    height: 40px;
                    margin-bottom: 20px;
                }
            }
           
            .customer-save-button {
                padding: 8px 26.62px 7px 26.38px;
                color: $font-color-grey;
                font-size: 12px;
                letter-spacing: 0.36px;
                line-height: 15px;
                margin-bottom: 40px;
            }
        }
        .delete-container {
            padding-bottom: 52px;
        }
    }
}
