@import "../../../../styles.scss";

.dashboard-customer-reviews {
    margin-top: -56px;
   
    .margin-remove{
        margin-left: 0;
        margin-right: 0;
    }
    .general-main {
        margin-top: 92px;
        padding-left: 90px;
    }
    .your-recent-reviews {
        margin-bottom: 40px;
        font-size: 22px;
        line-height: 28px;
        font-weight: 900;
    }
    .reviews-container {
        width: 1007px;
        height: 190px;
        box-shadow: 0px 8px 15px rgba(24, 43, 73, 0.08);
        padding-left: 19px;
        padding-top: 20px;
        text-align: left;
        .review-title {
            font-size: 14px;
            font-weight: 900;
            line-height: 18px;
            color: $primary-font-color;
            margin-bottom: 10px;
            .review-stars {
                float: right;
                line-height: 18px;
                padding-right: 19px;
                
            }
            .review-stars img {
                margin-left: 10px;
            }
            .review-stars img:first-child {
                margin-left: 0;
            }
        }
        .review-date {
            color: $color-light-grey;
            font-size: 10px;
            line-height: 13px;
            margin-bottom: 20px;
        }
        .review-as-it-is {
            width: 967px;
            color: $secondary-font-color;
            font-size: 14px;
            line-height: 22px;
        }
    }
}
