<div
  *ngIf="!notYourPage && !blockService.notYourPage"
  class="dashboard-customer-reviews"
>
  <div class="row margin-remove">
    <div class="col-lg-10 general-main">
      <h2 class="your-recent-reviews">Your recent reviews</h2>
      <div *ngFor="let comment of listComments" class="reviews-container">
        <h4 class="review-title">
          {{ comment.pageTitle }}
          <span class="review-stars">
            <img
              *ngFor="let rate of comment.rating"
              class="rate-star"
              src="wp-content/themes/nodice/dist/assets/images/stars/full-star.svg"
              alt="Review star icon"
            />
          </span>
        </h4>
        <div class="review-date">{{ comment.date }}</div>
        <div
          class="review-as-it-is"
          [innerHTML]="comment.comment_content"
        ></div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="notYourPage || blockService.notYourPage">
  <p>Can't see this page bro, must login, you know</p>
</div>
