.nodice-c-review-result__container {
  background: rgba(255, 190, 11, 0.2);
  border: 0;
  border-radius: 5px;
  padding: 6px 13px;
  color: #ffbe0b;
  width: 140px;
  height: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 4px;
  line-height: 18px;
}

.nodice-c-review-result__grade-review {
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.28px;
  line-height: 13px;
}
.nodice-c-review-result__text-review {
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 0.2px;
  line-height: 13px;
}
