<div class="nodice-c-review-result__container">
  <span class="nodice-c-review-result__grade-review">{{ result.result }}</span>
  <span class="nodice-c-review-result__text-review">
    out of {{ result.total }} review</span
  >
</div>
