<app-header-search></app-header-search>
<div class="row profile-page">
  <app-profile-carousel [getImagesData]="getImagesData"></app-profile-carousel>
  <div *ngIf="pageData" class="col-lg-6 profile-info">
    <app-profile-description
      [pageData]="pageData"
      [pageID]="pageID"
      [contactData]="contactData"
    ></app-profile-description>
    <app-profile-give-rating
      [isCustomerLoggedIn]="customerIsLoggedIn"
      [customerID]="customerID"
      [customerName]="customerName"
      [pageID]="pageID"
      [listAllComments]="listAllComments"
    ></app-profile-give-rating>
    <app-profile-comments
      [listAllComments]="listAllComments"
    ></app-profile-comments>
  </div>
</div>
