@import "../../../styles.scss";

.founder-section {
  background: $primary-header-color-lighter;
  height: 400px;
  margin-bottom: 44px;

  .founder-images-container {
    position: relative;
    .quote {
      position: absolute;
      bottom: 60px;
      right: 70px;
      z-index: 0;
    }
    .founder-image {
      width: 80px;
      height: 80px;
      border: 0;
      border-radius: 50%;
      z-index: 1;
    }
  }
  .founder-text {
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    letter-spacing: 0.68px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 30px;
  }
  .founder-name {
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.68px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 0;
  }
  .founder-title {
    color: rgba(255, 255, 255, 0.9);
    font-size: 12px;
    letter-spacing: 0.46px;
    line-height: 15px;
    text-align: center;
    font-style: italic;
  }
}
