<div class="founder-section">
  <section class="h-100">
    <header class="container h-100">
      <div class="d-flex align-items-center justify-content-center h-100">
        <div class="d-flex flex-column">
          <div class="founder-images-container text align-self-center p-2">
            <img
              class="quote img-fluid"
              src="{{ urlBase }}assets/images/Qote.svg"
            />
            <img
              class="founder-image img-fluid"
              src="{{
                urlBase
              }}assets/images/bewerbungs-fotos-cv-headshots-zurich_05-1.png"
            />
          </div>

          <p class="founder-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Dolor
            sed viverra ipsum nunc aliquet bibendum enim. In massa tempor nec
            feugiat. Nunc aliquet bibendum enim facilisis gravida. Nisl nunc mi
            ipsum faucibus vitae aliquet nec ullamcorper.
          </p>
          <p class="founder-name">Nick Jensen</p>
          <p class="founder-title">Founder of NoDice</p>
        </div>
      </div>
    </header>
  </section>
</div>
