<app-header-dashboard></app-header-dashboard>
<div class="nodice-dashboard-main__container">
  <div *ngIf="userType === 'customer'">
    <app-dashboard-navigation-customer></app-dashboard-navigation-customer>
  </div>
  <div *ngIf="userType === 'client' || userType === 'administrator'">
    <app-dashboard-navigation-client
      [userID]="userID"
    ></app-dashboard-navigation-client>
  </div>
  <div class="nodice-dashboard-content__container">
    <router-outlet></router-outlet>
  </div>
</div>
