@import "../../../styles.scss";

.thank-you-page {
    position: absolute;
    top: 0;
    width: 100%;
    .thank-you-container {
        @include main-box;
        box-shadow: 0px 20px 60px rgba(24, 43, 73, 0.08);
        .thank-you-title {
            color: $primary-font-color;
            font-size: 22px;
            text-align: center;
            font-weight: 900;
            margin-top: 136px;
            margin-bottom: 40px;
        }
        .text-container {
            width: 600px;
            height: 140px;
            margin: 0 auto;
            
            .thank-you-message {
                color: $secondary-font-color;
                font-size: 14px;
                line-height: 22px;
                margin-bottom: 20px;
                text-align: center;
            }
            .thank-you-welcome{
                color: $secondary-font-color;
                font-size: 14px;
                line-height: 22px;
                font-weight: 900;
                text-align: center;
            }
        }
        .button-container {
            width: 600px;
            margin: 0 auto;
            text-align: center;
            .settings-button {
                padding: 8px 26px;
                margin-top: 21px;
                font-size: 12px;
                letter-spacing: 0.36px;
            }
        }
        
    }
}
