<app-header-home></app-header-home>
<div class="thank-you-page">
  <div class="blue-bckg"></div> 
  <div class="thank-you-container">
    
    <h2 class="thank-you-title"> Thanks for joining NoDice community</h2>

    <div class="text-container">
        <p class="thank-you-message"> We're happy to have you. In your <a routerLink="/profile/example-page">profile settings</a> section you can upload and organize your gallery, revise industry categories you want to be associated with, and set your profile and billing information.</p>
    
        <h5 class="thank-you-welcome">Welcome!</h5>
    </div>
    <div class="button-container">
        <button class="btn btn-primary nodice-button signup-button">View settings</button>
    </div>
    
  
  </div>
    
</div>
