<nav
  class="nodice-nav navbar navbar-expand-lg navbar-light nav-bckg {{
    fontColor
  }}"
>
  <a class="navbar-brand" routerLink="/">nodice</a>

  <div id="navbarNavDropdown" class="navbar-collapse collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
      <div *ngIf="isLoggedInLocalStorage == 'true'">
        <li class="nav-item">
          <a class="nav-link" (click)="onLogout()">Log out</a>
        </li>
      </div>
      <ng-template [ngIf]="isLoggedInLocalStorage == 'false'">
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link nodice-button main-login-button"
            routerLink="/login"
            >Log in</a
          >
        </li>
      </ng-template>
      <li class="nodice-hamburger">
        <a class="nav-link"
          ><i
            id="sidebarCollapse"
            class="fas fa-bars"
            (click)="showSidebar()"
          ></i
        ></a>
      </li>
    </ul>
  </div>
</nav>

<!-- Sidebar options-->
<app-sidebar
  [showSidebar]="displaySidebarStyle"
  [userID]="userID"
  [userType]="userType"
  (hideSidebar)="onHideSidebar($event)"
></app-sidebar>
