@import "../../../../../styles.scss"; 

.nodice-nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 56px;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 0;
    color: $primary-font-color;
    a.navbar-brand {
        letter-spacing: 0.8;
        line-height: 25px;
        font-size: 20px;
        color: $primary-font-color;
    }
    ul li.nav-item {
        font-size: 12px;
        letter-spacing: 0.36;
        line-height: 15px;
        .nav-link {
            color: $font-color-purple;
            
        }
   
    }
    
    ul li.nav-item .main-login-button {
        padding: 8px 33px 7px 32px;
        margin: 0 20px;
        color: $font-color-grey;
    }
 
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    #sidebar {
        width: 319px;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        z-index: 999;
        background: $primary-background-color;
        color: $primary-font-color;
        transition: all 0.3s;
        box-shadow: -3px 0px 20px #182B4914;
    }

    .close-sidebar {
        text-align: right;
        font-size: 21px;
        padding-right: 30px;
        padding-top: 30px;
        color: $primary-font-color;
        margin-bottom: 83px;
        cursor: pointer;
    }
    .nodice-search-list {
        padding-left: 75px;
        li {
            margin-bottom: 20px;
        }
        li a {
            text-transform: uppercase;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.42px;
            color: $primary-font-color;

        }
    }
    .login-signup-actions {
        position:absolute;
        bottom: 0;
        // text-align: center;
        margin-bottom: 41px;
        padding-left: 70px;
    }
    .login, .signup, .logout {
        padding: 8px 72.62px 7px 72.38px;
        font-size: 12px;
        letter-spacing: 0.36px;
        line-height: 15px;
       
        color: $font-color-purple;
        border: 2px solid $font-color-purple;
    }
    .login {
        margin-bottom: 15px;
        background: white;
    }
    .signup {
        background: white;
    }
    .logout {
        background: $font-color-purple;
        color: white;
    }
}



.nav-bckg {
    // height: 51px;
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    z-index: 99;
}

.frontpage-font-color {
    a {
        color: white;
    }
}

.nodice-nav {
    .nodice-hamburger {
       
        font-size: 16px;
        cursor: pointer;
        a i {
            color: $primary-font-color;
        }
    }
}
