/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.one-screen {
 // height: 70vh;
 // https://github.com/vivifyideas/widewalls-fe/pull/1883 min-height: 70vh;
}
$primary-background-color: white;

$primary-header-color-lighter: #1458ea;
$primary-header-color-darker: #123a8e;

$primary-font-color: #182b49;
$secondary-font-color: #8292a5;

$font-color-orange: #f06644;
$font-color-purple: #833bec;
$font-color-green: #1ce1ac;
$font-color-grey: #f9fafc;
$font-color-purple: #ff007f;
$color-light-grey: #c0ccda;

@font-face {
  font-family: "Circular Std Book";
  src: url('http://localhost/posao/nodice-wp/wp-content/themes/nodice/dist/assets/fonts/Circular%20Std%20Book.woff') format('woff') ;
  /* src: url("https://nodice.gnf.dk/wp-content/themes/nodice/dist/nodice/assets/fonts/Circular%20Std%20Book.woff") */
  /*   format("woff"); */
}

$primary-font-family: "Circular Std Book";

/* mixins */
@mixin main-box {
  position: absolute;
  top: 117px;
  left: 0;
  right: 0;
  margin: auto;
  width: 800px;
  height: 600px;
  margin: 0 auto 49px;
  background: white;
}

/* positioning*/

body,
body p,
body a,
body div,
body span,
body h2,
h2 {
  font-family: "Circular Std Book";
}
.main-container {
  padding: 0 !important;
  position: absolute;
  top: 0;
  z-index: 9;
}
.main-title {
  font-size: 22px;
  color: $primary-font-color;
  line-height: 28px;
  font-weight: 900;
}
.dashboard-main {
  margin-top: 92px !important;
  padding-left: 90px !important;
}
.dashboard-title {
  position: relative;
  display: inline-block;
  font-size: 22px;
  line-height: 28px;
  font-weight: 900;
  color: $primary-font-color;
  // font: Bold 22px/28px Circular Std;
  letter-spacing: 0;
  opacity: 1;
  margin-bottom: 40px;
}
.blue-nodice-font {
  font-size: 12px;
  letter-spacing: 0.36px;
  line-height: 15px;
  color: $primary-header-color-lighter;
}

/* AUTH AND THANK YOU PAGES */
//create positioned box on blue background
.top-container {
  @include main-box();
}
.blue-bckg {
  height: 500px;
  // background: $primary-header-color-lighter;
  background: transparent linear-gradient(110deg, #1458ea 0%, #123a8e 100%) 0%
    0% no-repeat padding-box;
  border-bottom-left-radius: 150px;
}

.nodice-button {
  font-size: 12px;
  letter-spacing: 0.36px;
  background: #ff007f;
  border: 2px solid #ff007f;
  border-radius: 50px;
  cursor: pointer;
}
