@import "./../../styles.scss";

.nodice-search-page__container {
  width: 1285px;
  margin-left: 40px;
  margin-top: 26px;
}

.nodice-search-page__title {
  font-size: 22px;
  line-height: 28px;
  font-weight: 900;
}
.nodice-search-page__results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.nodice-search-page__profile-container {
  width: 210px;
  height: 210px;
  box-shadow: 0px 8px 15px rgba(24, 43, 73, 0.08);
  margin-right: 47px;
  margin-top: 40px;
  padding-right: 0;
  padding-left: 0;
}

.nodice-search-page__profile-image {
  width: 210px;
  height: 130px;
  margin-bottom: 10px;
  object-fit: cover;
}

.nodice-search-page__profile-title {
  font-size: 16px;
  line-height: 20px;
  color: $primary-font-color;
  margin-left: 10px;
}

