<app-header-search></app-header-search>
<div class="nodice-search-page__container">
  <h2 class="nodice-search-page__title">Search results:</h2>
  <div class="nodice-search-page__results">
    <div
      *ngFor="let page of searchResults"
      class="nodice-search-page__profile-container"
    >
      <img
        class="nodice-search-page__profile-image"
        src="{{ page.profile_image }}"
        alt="{{ page.title.rendered }}"
      />
      <a
        class="nodice-search-page__profile-title"
        routerLink="/profile/{{ page.slug }}"
        title="{{ page.title.rendered }}"
      >
        {{ page.title.rendered }}
      </a>
      <app-reviews-result
        [result]="page.calculate_ratings"
      ></app-reviews-result>
    </div>
  </div>
  <a href="" title="Load more search items"></a>
</div>
