@import "../../../../styles.scss"; 

.nodice-nav {
    height: 90px;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 0;
    a.navbar-brand {
        letter-spacing: 0.8;
        line-height: 25px;
        font-size: 20px;
    }
    ul li.nav-item {
        font-size: 12px;
        letter-spacing: 0.36;
        line-height: 15px;
    }
    .main-login-button {
        padding: 8px 33px 7px 32px;
        margin: 0 20px;
    }
    .nav-link {
        cursor:pointer;
    }
}




.nav-bckg {
    height: 51px;
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    z-index: 99;
}

.frontpage-font-color {
    a {
        color: white;
    }
}

.nodice-nav {
    .nodice-hamburger {
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
}
